apiVersion: v2
name: component
description: Component Chart

type: application

version: 1.0.0
appVersion: 1.0.0

dependencies:
  - name: kafka
    version: 0.20.7
    repository: http://storage.googleapis.com/kubernetes-charts-incubator
    condition: kafka.enabled
  - name: redis
    version: 10.3.4
    repository: "@stable"
  - name: vertx-api
    version: 1.0.1
    repository: "@local"
    condition: vertx-api.enabled
